---
  - name: Make sure GPO directory exists
    ansible.windows.win_file:
      path: '{{ directory_gpo }}'
      state: directory

  - name: Copy Script
    ansible.builtin.copy:
      src: files/gpo-bind.ps1
      dest: '{{ directory_gpo }}gpo-bind.ps1'

  - name: Bind GPO
    script: files/gpo-bind.ps1
    args:
      creates: '{{ directory_logging}}gpo-bind.txt'